[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "flake8 *.py examples"

[packages]
ipython = "*"
graphviz = "*"

[dev-packages]
bumpversion = "*"
# flit = "*"
ipykernel = "*"
keyring = "*"
nbformat = "*"
pytest = "*"
sphinx_rtd_theme = "*"
Sphinx = "*"
nbconvert = "*"
tox = "*"

[requires]
python_version = "3.6"
